# Google App Engine generated folder
appengine-generated/
.git/*
.idx/*
composer.lock
vendor/*
**/local_config.json
**/local_data/*
**/local_env_vars.json
**/cache/*
**/tests/*
**/tmp/*
**/composer.lock
**/vendor/*
.idea/*
.claude/*
src/.DS_Store
.DS_Store
